* {
	padding: 0px;
}
body {
	width: 100%;
	background-color: #FDFAFC;
	font-size: 1.2em !important;
}
#tache {/*Icono (Paloma) que regresa a la PÁGINA INICIO*/
	background-color: #424242;
	display: block;
	margin-top: 30px;
}
/*INICIA TEXTOS DE HEADERS*/
.txthdr { /*Texto encabezado de todas las páginas excepto INDEX*/
	color: #ffffff;
	font-size: 3.4em;
	padding: 10px 0px 10px;
}
.txtnota { /*Texto que especifica notas del concurso en SUBE CARI y SUBE FOTO*/
	font-size: 1.2em;
	color: #ffffff;
	margin-top: -22px;
	padding: 10px 0px 22px;
}
/*TERMINA TEXTOS DE HEADERS*/
/*INICIA INDEX*/
#hdrndx { /*Header*/
	background-color: #FAF6EA; 
	background-image: ;
	margin-bottom: 0px;
}
#mnndx { /*Main*/
	background-color: #FFFFFF;
}
	/*DIVs header*/
#divimgndx { /*Imagen*/
	margin-top: 14px;
	border-color: transparent;
}
#divtxtndx { /*Fondo texto*/
	margin-top: 14px;
	background-color: #FAF6EA;
}
	/*DIVs header*/
	/*Texto header*/
.txthdrndx { /*Texto encabezado*/
	letter-spacing: 0.04em;
	text-align: right;
	font-weight: bolder;
	color: #81394F;
	padding-bottom: 20px;
	font-size: 3.4em;
}
	/*Texto header*/
	/*Botones*/
.divbotndx { /*DIV*/
	background-color: #FCC300 !important;
	height: 80px !important;
}
.botndx { /*Botones*/
	font-size: 1.68em;
	text-decoration: blink;
	color: white;
	margin-top: 13px;
	background-color: #2B272B !important;
}
	/*Botones*/
	/*Barra búsqueda*/
#search {
	font-size: 1.2em;
	color: #424242;
}
	/*Barra búsqueda*/
	/*Obras publicadas*/
#sctndxcu { /*Sección Cuento*/
	height: 280px;
	margin-bottom: 34px !important;
	background-color: #87BB01;
}
#sctndxfo { /*Sección Fotografía*/
	height: 408px;
	margin-bottom: 34px !important;
	background-color: #FC016D;
}
#sctndxca { /*Sección Caricatura*/
	height: 408px;
	margin-bottom: 34px !important;
	background-color: #019EE8;
}
#avtrndx { /*Avatar concursante*/
	height: 240px;
	background-color: #FDFAFC;
	border-color: transparent;
	margin-top: 10px;
}
.autor { /*Autor concursante*/
	color: #FFFFFF;
}
.obra {	/*Obra concursante*/
	color: #FFFFFF;
}
.descobra { /*Descripción obra*/
	color: #FFFFFF;
}
.obraslds { /*Slides obras*/
	height: 184px;
	background-color: #FDFAFC;
}
.obraslds h3 {
	color: #C8C8C8;
	text-align: center;
}
	/*Obras publicadas*/
/*TERMINA INDEX*/
/*INICIA BASES*/
	/*Fondo encabezados*/
#cardbss {
	background-color: #00BAB1;
}
	/*Fondo encabezados*/
	/*Texto main*/
#txtbss {
	font-size: 1.48em !important;
	text-align: justify-all;
	align-items: center;
	padding: 60px 60px 60px;
	background-color: #8ee5d2;
	/*Texto main*/
}
/*TERMINA BASES*/
/*INICIA LOGIN FACEBOOK y LOGIN TWITTER*/
	/*Texto encabezados*/
#cardlgnfb { /*Facebook*/
	background-color: #4e69a2;
}
#cardlgntw { /*Twitter*/
	background-color: #1DA1F2;
}
	/*Texto encabezados*/
.cardtxtgrcs { /*Espacio para caja registro LoginFB / LoginTW*/
	background-color: #ffca28;
	padding: 60px 0px 60px;
	font-weight: bold;
	color: #ff0000;
}
/*TERMINA LOGIN FACEBOOK y LOGIN TWITTER*/
/*INICIA CONÉCTATE*/
#cardcnct { /*Header*/
	background-color: #F81B2E;
	padding: 20px 0px 20px;
}
	/*Botones*/
#botfb { /*Botón FB*/
	font-size: 1.68em;
	color: white;
	background-color: #F7086E;
	margin-top: 40px;
}
#bottw { /*Botón TW*/
	font-size: 1.68em;
	color: white;	
	background-color: #F7086E;
	margin-top: 40px;
}
	/*Botones*/
/*TERMINA CONÉCTATE*/
/*INICIA GRACIAS CUENTO, CARI y FOTO*/
	/*Fondo encabezados*/
#tjtgraciasca { /*Caricatura*/
	background-color: #019EE8;
}
#tjtgraciascu { /*Cuento*/
	background-color: #87BB01;
}
#tjtgraciasfo { /*Fotografía*/
	background-color: #FC016D;
}
	/*Fondo encabezados*/
	/*Texto*/
.txtgracias { /*Agradecimiento*/
	color: white;
	padding: 20px 0px 20px;
}
	/*Texto*/
/*TERMINA GRACIAS CUENTO, CARI y FOTO*/
/*INICIA SUBE CUENTO, SUBE CARI y SUBE FOTO*/
	/*Fondo encabezados*/
#cardsuca { /*Caricatura*/
	background-color: #019EE8;
}
#cardsucu { /*Cuento*/
	background-color: #87BB01;
}
#cardsufo { /*Fotografía*/
	background-color: #FC016D;
}
	/*Fondo encabezados*/
	/*Inputs de datos usuario y obras*/
#first_name {/*Título de la obra*/
	font-size: 1.6em !important;
	font-weight: lighter;
	margin-top: 15px; 
	padding-bottom: 8px;
	color: #424242;
}
#textarea1 {/*Descripción de la obra*/
	font-size: 1.6em !important;
	font-weight: lighter;
	height: 300px;
	margin-top: 15px;
	color: #424242;
}
#email {/*Correo del participante*/
	font-size: 1.6em !important;
	font-weight: lighter;
	margin-top: 15px;
	padding-bottom: 8px;
	color: #424242;
}
	/*Campos datos usuario y obras*/
label h6 {/*Formato de texto a IDs: #first_name, #textarea1, y #email*/
	font-size: 1.4em !important;
	margin-top: -3px;
}
	/*Campos datos usuario y obras*/
	/*Inputs "Términos y Condiciones"*/
.txtcond {/*Formato LABELs*/
	font-size: 1.4em !important;
}
	/*Inputs "Términos y Condiciones"*/
	/*Divs*/
.subeinfo {/*Integra los campos que el concursante llenará*/
	margin-top: 40px;
	font-size: 1.6em !important;
}
.divacuerdos {/*Integra los inputs para "Términos... y Privacidad"*/
	display: block;
	margin-top: 40px;
}
	/*Divs*/
	/*Botones*/
#botsuca { /*Subir caricatura*/
	background-color: #019EE8;
}
#botsufo { /*Subir foto*/
	background-color: #FC016D;	
}
#botenviar { /*Enviar ahora*/
	font-size: 1.68em;
	color: white;
	background-color: #F7086E;
	margin-top: 40px;
}
	/*Botones*/
	/*Recuadro sube/arrastra archivo*/
.subir {
	font-size: 1.2em !important;
	text-align: center;
	color: #424242;
}
	/*Recuadro sube/arrastra archivo*/
/*TERMINA SUBE CUENTO, SUBE CARI y SUBE FOTO*/
/*INICIA TIPO PIEZA*/
#cardtppz {
	background-color: #ff6f00;
}
	/*Botones*/
#botobra {
	font-size: 1.68em;
	color: white;
	background-color: #F7086E;
	margin-top: 40px;
}
	/*Botones*/
/*TERMINA TIPO PIEZA*/